<mat-form-field appearance="outline" class="docs-field">
  <mat-label>Reporting period</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start" />
    <input matEndDate formControlName="end" placeholder="End" />
  </mat-date-range-input>
  <mat-hint>DD/MM/YYYY to DD/MM/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker" />
  <mat-date-range-picker #picker />
</mat-form-field>
<p>
  From {{ range.controls.start.value?.toDateString() ?? '-' }}
  to {{ range.controls.end.value?.toDateString() ?? '-' }}
</p>
