<div class="docs-demo">
  @for (file of files; track file) {
    <div style="display: flex; align-items: center; gap: 8px">
      <span style="font: var(--mat-sys-body-medium); width: 140px">{{ file }}</span>
      <button
        matIconButton
        [attr.aria-label]="'Actions for ' + file"
        [matMenuTriggerFor]="rowMenu"
        [matMenuTriggerData]="{ file: file }"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  }

  <mat-menu #rowMenu>
    <ng-template matMenuContent let-file="file">
      <button mat-menu-item (click)="last.set('Renamed ' + file)">Rename {{ file }}</button>
      <button mat-menu-item (click)="last.set('Deleted ' + file)">Delete {{ file }}</button>
    </ng-template>
  </mat-menu>

  <p style="font: var(--mat-sys-body-medium)">Last action: {{ last() }}</p>
</div>
